<footer>
  <div class='wrapper'>
    <span class='h6 logo'>Together</span>
    <p>© 2025 EventHub. Все права защищены.</p>
    <p id='load-time'>Адрес: г. Москва, ул. Примерная, 1</p>
  </div>
</footer>