<meta charset='UTF-8' />
<meta name='keywords' content='мероприятия, афиша, бронирование, события' />
<meta
  name='description'
  content='Система управления событиями: афиша, бронирование и организация мероприятий'
/>
<meta name='viewport' content='width=device-width, initial-scale=1.0' />
<title>EventHub — афиша мероприятий</title>
<link rel='stylesheet' href='/styles/global.css' />

{{#if extraHead}}
  {{{extraHead}}}
{{/if}}