<!DOCTYPE html>
<html lang="ru">
<head>
  {{> head}}
</head>
<body>
  {{> header}}

  <main>
    {{{body}}}
  </main>
  {{> navbar}}

  {{> footer}}

  {{#if pageTemplates}}
    {{#each pageTemplates}}
        {{> (lookup this 'name') }}
    {{/each}}
  {{/if}}

  {{> scripts}}
  {{> scripts-page}}
</body>
</html>