<section id='preview' class='wrapper'>
  <div class='block'>
    <h1 class='fade-text'>
      <span>Организуй</span>
      встречи с друзьями
      <span>легко</span>
    </h1>
    <h6 class='typewriter'>
      Создавай свои события или выбирай готовые из афиши.
      <br />
      Друзья голосуют за удобное время и место — решение находится само.
    </h6>
    <a href='/main'>
      <button class='secondary shadow-base'>
        Перейти в личный кабинет
      </button>
    </a>
  </div>
</section>
<section id='steps' class='wrapper'>
  <h2 class='fade-text'><span>4 шага</span> к идеальной встрече</h2>
  <div class='block wrapper'>
    <div class='step-card'>
      <h4>Шаг 1</h4>
      <h5>Создай событие</h5>
      <p class='body1'>
        придумай встречу и предложи несколько вариантов даты и места.
      </p>
    </div>
    <div class='step-card'>
      <h4>Шаг 2</h4>
      <h5>Зови друзей</h5>
      <p class='body1'>
        приглашай прямо из приложения, все видят детали.
      </p>
    </div>
    <div class='step-card'>
      <h4>Шаг 3</h4>
      <h5>Голосуйте вместе</h5>
      <p class='body1'>каждый выбирает удобное время и локацию.</p>
    </div>
    <div class='step-card'>
      <h4>Шаг 4</h4>
      <h5>Итог без споров</h5>
      <p class='body1'>приложение само показывает лучший вариант.</p>
    </div>
  </div>
</section>
<section id='events' class='wrapper'>
  <div class='head'>
    <h2 class='fade-text'>Не хочешь <span>придумывать</span> сам?</h2>
    <h5 class='typewriter'>
      Выбирай из готовых событий в городе — концерты, выставки, вечеринки и
      многое другое. Добавляй в список и приглашай друзей в один клик.
    </h5>
  </div>
  <ul>
    <li class='event-card'>
      <div class='card-media'></div>
      <div class='card-header h5'>Название события</div>
      <div class='card-content body1'>
        Lorem ipsum dolor sit amet consectetur. Morbi est massa senectus purus
        pellentesque quis turpis massa.
      </div>
      <div class='card-action'>
        <button data-id='0' class='primary'>Посмотреть</button>
      </div>
    </li>
    <li class='event-card'>
      <div class='card-media'></div>
      <div class='card-header h5'>Название события</div>
      <div class='card-content body1'>
        Lorem ipsum dolor sit amet consectetur. Morbi est massa senectus purus
        pellentesque quis turpis massa.
      </div>
      <div class='card-action'>
        <button data-id='1' class='primary'>Посмотреть</button>
      </div>
    </li>
    <li class='event-card'>
      <div class='card-media'></div>
      <div class='card-header h5'>Название события</div>
      <div class='card-content body1'>
        Lorem ipsum dolor sit amet consectetur. Morbi est massa senectus purus
        pellentesque quis turpis massa.
      </div>
      <div class='card-action'>
        <button data-id='2' class='primary'>Посмотреть</button>
      </div>
    </li>
  </ul>
  <div
    class='wrapper'
    style='width: 100%; display: flex; flex-direction: row-reverse'
  >
    <button class='primary' id='btton-show-all-events'>
      Посмотреть все
    </button>
  </div>
</section>
<section id='why' class='wrapper'>
  <h2 class='fade-text'>Почему это <span>удобно</span>?</h2>
  <div class='block'>
    <div class='why-card'>
      <img src='/images/rocket.svg' />
      <h5>Быстрое согласование без чатов и споров</h5>
    </div>
    <div class='why-card'>
      <img src='/images/vote.svg' />
      <h5>Голосование за дату, время и место</h5>
    </div>
    <div class='why-card'>
      <img src='/images/calendar.svg' />
      <h5>Единый календарь мероприятий с друзьями</h5>
    </div>
    <div class='why-card'>
      <img src='/images/masks.svg' />
      <h5>Доступ к афише событий твоего города</h5>
    </div>
  </div>
</section>
<section id='who'>
  <h2 class='fade-text'>Кому подойдёт?</h2>
  <div class='block wrapper'>
    <div class='who-card'>
      <div class='card-media'>
        <img src='/images/friends.jpeg' title='Встреча с друзьмяи' />
      </div>
      <div class='card-content'>
        <h4>
          Для компаний
          <span>друзей</span>, которые любят собираться
        </h4>
      </div>
    </div>
    <div class='who-card reverse'>
      <div class='card-media'>
        <img src='/images/culture-event.jpg' title='Культорное событие' />
      </div>
      <div class='card-content'>
        <h4>Для любителей <span>культурных</span> событий</h4>
      </div>
    </div>
    <div class='who-card'>
      <div class='card-media'>
        <img src='/images/camp.jpeg' title='Активности на природе' />
      </div>
      <div class='card-content'>
        <h4>
          Для
          <span>активных людей</span>, планирующих походы и выезды
        </h4>
      </div>
    </div>
    <div class='who-card reverse'>
      <div class='card-media'>
        <img src='/images/messangers.jpg' title='Мессенджеры' />
      </div>
      <div class='card-content'>
        <h4>
          Для всех,
          <span>кто устал от</span>
          бесконечных обсуждений в
          <span>мессенджерах</span>
        </h4>
      </div>
    </div>
  </div>
</section>
<section id='try' class='wrapper'>
  <h2 class='fade-text'><span>Попробуй</span> прямо сейчас!</h2>
  <h5 class='typewriter'>
    Организуй своё первое событие за 2 минуты и собери друзей легко.
  </h5>
  <button class='secondary shadow-base'>Запланировать событие</button>
</section>