<section class='wrapper'>
  <div id='empty-state'>
    <span id='query-error' class='h6 hide'></span>
    <div id='poster__empty' class='hide poster__empty'>
      <span class='h6'> Ничего не нашлось :( </span>
      <p class='body1'>
        У вас сейчас нет активных мероприятий, но вы можете создать новое
      </p>
    </div>
    <div class='preloader'></div>
    <div class='preloader'></div>
  </div>
</section>