<template id='event-card-template'>
  <div class='event-card'>
    <div class='card-media'></div>
    <div class='card-header h5'></div>
    <div class='card-content'>
      <span class='event-author body1'> </span>
      <p class='event-description body1'></p>
      <div class='event-coordinate-info'>
        <span class='event-date body1'> </span>
        <span class='event-place body1'> </span>
      </div>
    </div>
    <div class='card-action'>
      <a class='event-button'>
        <button class='primary'>Посмотреть</button>
      </a>
      <button class='edit-event-button'>
        <img src='/images/edit.svg' />
      </button>
      <button class='remove-button error'>Удалить</button>
    </div>
  </div>
</template>