<template id='post-template'>
  <div class='post-media'></div>
  <div class='post-content'>
    <h6></h6>
    <p class='body1'></p>
    <span class='date body1'></span>
    <span class='place body1'></span>
    <div class='post-action'>
      <a href='/poster'>
        <button class='primary'>К афише</button>
      </a>
    </div>
  </div>
</template>